/*  this is reset code and should be kept at the top of the document */
body, html {
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  height: 100vh;
  /*
    Using the grid.
    * there are 4 columns of equal size. so to span the entire length
      you will need to use column end 5.
    * there are 5 rows all of different sizes, the end row will be
      row end 6.
    * reffer to article https://css-tricks.com/snippets/css/complete-guide-grid/
      for alignment option and any other tips you may need to place your
      child elements.
  */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 12% 8% 30% 30% 8% 12%;
}

.nav {
    grid-column-start: 3;
    grid-column-end: 5;
    align-self: center;
    justify-self: end;
    grid-row-start: 1;
    padding-right: 50px;
}

.center-content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
}

.post-footer {
  width: 60%;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  margin:auto;
}

.footer {
    width: 60%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
}

.container-thom {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,500px);
    padding: 25px;
    height: 570px;
    justify-content:center;
}

.co-bg-lightgray {
    background-color: #f4f4f4; /*gray backgrond*/
}

.co-bg-yellow{
    background-color: #fdc107; /*yellow button */
}

.co-bg-gray {
    background-color: #282627; /*drck gray button*/
}

.co-bg-darkgray{
    background-color: #31302e; /*drck gray fotter background*/
}

.co-t-white {
    color: white;  /*white text*/
}

.co-t-gray {
    color: darkgray; /*drck gray text */
}

.co-t-yellow {
    color: #fdc107; /*yellow text*/
}

.co-t-black{
    color:black;
}


/*  Font classes  */

.font-thin {
    font-weight: 100;
}

.font-italic {
    font-style: italic;
}

.font-bold {
  font-weight: 600;
}

.font-one-sm {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.font-one-md {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.font-one-lg {
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;

}

.font-two-sm {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

/*  End of Font classes */

/*aus+dive css*/
.container-aus-david {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,350px);
    padding: 5px;
    height: 570px;
    justify-content:center;
}

.center-img {
    justify-content: center;
}

.center-text {
    display: flex;
    justify-content: center;
}

.photo {
    grid-area: photo;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.box {
    border-radius: 3px;
    text-align: center;
    background-color: white;
    color: white;
    height: 450px;
}

.btn {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: solid;
}

/*aus+dive css*/

/*roaa almadi*/
.page2-img {
    grid-area: photo;
    height: 50%;
    width: 90%;
    background-position: center;
    margin-right: 50px;

}


.yellow-btn {
    padding: 10px 15px 10px 15px;
    border:  hidden;
    border-radius:3px;
}

.text-position {
    text-align: left;
    width: 85%;
    height: 35%;
}


/*  Start of 1st page classes - Gervan */

.page1-topbar {
    display: flex;
    justify-content: space-between;
    background-color: #3B5999;
    grid-column: 1 / 5;
}

.page1-nav {
    display:flex;
    background-color: #3092C3;
    grid-column: 1/5;
    grid-row: 2/2;
    justify-content: center;
    padding-top: 10px;

}
.page1-nav a{
    margin: 5px 20px 0 20px;
    text-decoration: none;
    text-align: center;
}

.searchbar{
    width:15%;
    height: 20px;
    align-content:center;
    vertical-align: top;
    margin-left: 70px;
}

.nav-btn {
    background-image: url(images/search.jfif);
    background-repeat: no-repeat;
    width: 35px;
    height:25px;
}

.padleft {
  padding-top: 35px;
  padding-left: 100px;
}

.padright {
  padding-top: 35px;
  padding-right: 100px;
}


.logobutton {
    background-color: #3B5999;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.page1-bottom {
  grid-column: 1/5;
  grid-row: 3/5;
  padding-left: 100px;
}

.background {
  background: linear-gradient( rgba(0, 0, 0, 0.00001), rgba(0, 0, 0, .000001)), url('images/page1_bkgd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/5;
  grid-row: 3/5;
}

.margin-sml {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-mix {
  margin-top: 60px;
  margin-bottom: 15px;
}

.margin-right {
  margin-right: 60%;
  line-height: 1.5rem;
}

.btn-reverse {
    padding: 15px 25px 15px 25px;
    background-color: #0d0c00;
    color: white;
    border-style:solid;
    border-color: white;
    border-width: 1.5px;
    margin-top: 10px;
}

.page1-pages {
  grid-column: 2/4;
  margin-top: 25px;
}

.ruledivide {
  border-style: dotted none none;
  border-color: #fdc107;
  border-width: 12px ;
  align-content: center;
  width: 10%;

/*start page 4 css*/

.page4heading {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
    margin-top: 20px;
}

.wordpresslogo {
    grid-column-start: 3;
    grid-row: 2;
    margin-left: 20px;
    margin-top: 50px;
}

.wordpressimg {
    width: 150%;
}

.wordpresslist {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    margin-left: 150px;
    margin-top: 50px;
}
.page4button {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    margin-left: 250px;

}

/*  Dan and Thom css  */
.blog-title {

}

.blog-img-col1-top {

}

.blog-img-col2-top {

}

.blog-img-col1-bottom {

}

.blog-img-col2-bottom {
  
}
