body, html {
  padding: 0px;
  margin: 0px;
}

.container {
  display: grid;
  height: 100vh;
  /*
    Using the grid.
    * there are 4 columns of equal size. so to span the entire length
      you will need to use column end 5.
    * there are 5 rows all of different sizes, the end row will be
      row end 6.
    * reffer to article https://css-tricks.com/snippets/css/complete-guide-grid/
      for alignment option and any other tips you may need to place your
      child elements.
  */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 12% 8% 30% 30% 20%;
}
  
.co-bg-lightgray {
    background-color: #f4f4f4 /*gray backgrond*/
}

.co-bg-yello{
    background-color: #fdc107 /*yello button */
}

.co-bg-gray {
    background-color: #282627 /*drck gray button*/
}

.co-bg-darkgray{
    background-color: #31302e /*drck gray fotter background*/
}

.co-t-white {
    color:#b0b8ba  /*white text*/
}

.co-t-gray {
    color: #282627 /*drck gray text */
}

.co-t-yello {
    color: #fdc107 /*yello text*/
}
/*aus+dive css*/
.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,350px);
    padding: 5px;
    height: 570px;
}

.center-imgs {
    justify-content: center;
}

.center-text {
    display: flex;
    justify-content: center;
}

.photo {
    grid-area: photo;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.box {
    border-radius: 3px;
    text-align: center;
    background-color: white;
    color: white;
    height: 450px;
}

.btn {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: solid;
}
/*aus+dive css*/
